@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/

.navbar-container {
  color: hsl(var(--navbarColor));
  display: flex;
  justify-content: center;
  gap: 70px;
}

.navbar-gap {
  gap: 7px;
}

/*user navbar*/

.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.user-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  height: 100px;
}

.user-navbar-padding {
 padding: 0px 40px;
}

.user-navbar-gap {
  display: flex;
  gap: 40px;
}

.home-portfolio-gap {
  gap: 10px;
}

.home-portfolio-icon {
  width: 24px;
  height: 24px;
}

.caret-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input-gap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-filtered-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 360px;
  margin-top: 3px;
  z-index: 1;
}

.currency-icon {
  width: 20px;
  height: 20px;
  border-radius: 12px;
}

.theme-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  gap: 0px;
  opacity: 0px;
}

/**/

.topDisplayBar {
  padding: 16px 72px 16px 72px;
  height: 56px;
}

.firstProgressBar {
  display: flex;
  align-items: center;
  width: 90px;
}

.bitcoin {
  background-color: #F7931A;
  display: flex;
  align-items: center;
  width: 90px;
}

.eth {
  background-color: #849DFF;
  display: flex;
  align-items: center;
  width: 90px;
}

.navbarCoinGap {
  display: flex;
  align-items: center;
  gap: 10px;
}


.lightningBoltContainer {
  width: 16px;
  height: 16px;
  border: solid;
  border-radius: 20px;
  background: white;
}

/*svg magnifier*/ 
.left-3 {
  left: 0.75rem;
}
/**/

.searchButtonLandingPage {
  height: 48px;
  width: 356px;
  border: none;
  border-radius: 12px;
}

.selectCurrencyLandingPage {
  width: 108px;
  height: 48px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
}

.coinLandingPageContainer {
  padding: 0px 80px
}

.coinsButton {
  padding: 60px 80px
}

/**/

/*Landing Page */

.mainChartsAndCarousel {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  padding: 40px 40px 0px 40px;
}

.carousel-padding-left {
  padding-left: 0.3rem;
}

.compare-button-container {
  padding-bottom: 10px;
}

.select-currency-padding {
  padding-left: 8px;
}

.compare-button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
  height: 48px;
  width: 143px;
}

.exit-compare {
  width: 192px;
}

.carousel-title-container {
  padding-left: 20px;
}

.carousel-title-coin {
  font-weight: 500;
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.carousel-item {
  border-radius: 6px;
  border: 1px;
  padding-right: 20px;
  height: 78px;
  width: 240px;
  display: flex;
  align-items: center;
}

.flexAlStart {
  margin-right: 35px;
}

.flex {
  display: flex;
}

.align {
  align-items: center;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
  gap: 5px;
}

.carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.carousel-price-color {
  color: #D1D1D1;
  font-weight: 400;
}

.carousel-svg {
  height: 10px;
  width: 10px;
}

.carousel-text {
  font-size: 10px;
}

.carousel-button {
  background: rgba(120, 120, 250, 1);
}

.carousel-button {
  background: rgba(120, 120, 250, 1);
}

.chart-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 20px 40px;
}

.chart-padding-bottom {
  padding-bottom: 40px;
}

.chart-size {
  width: 632px;
  height: 430px;
  border-radius: 12px;
  padding-bottom: 20px;
}

.chart-header {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.coin-title {
  font-size: 20px;
}

.coin-price {
  font-size: 28px;
  font-family: 'Space Grotesk', sans-serif;
  padding: 10px 0px;
}

.coinLandingPage {
  display: flex;
  background-color: rgba(120, 120, 250, 1);
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 45px;
  border-radius: 6px;
  margin: 30px 0px 80px 0px;
}

/*Table*/

.table-padding {
  padding: 0px 40px;
}

.text-align {
  text-align: center;
}

.percentage-title-padding {
  margin-left: 5px; 
}

.bold {
  font-weight: bold;
} 

.table-image-container {
  display: flex;
  height: 77px;
  align-items: center;
  padding-left: 20px;
}

.coin-1h-percentage-container {
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.space-marketCap {
  display: flex;
  justify-content: space-between;
  width: 228px;
}

.coin-link {
  padding-left: 20px;
}

.percentages-padding {
  padding: 0 20px;
  font-size: 14px;
}

.table-row {
  border-top: solid 10px;
  border-top-color: hsl(var(--borderTop));
  border-radius: 25px;
}

.progressbar-table {
  height: 10px;
  width: 228px;
  position: relative;
  border-radius: 10px;
  margin: auto 0;
  overflow: hidden;
  border: none;
  margin-right: auto;
}

.sparkline-padding {
  padding-right: 15px;
}


.sparkLine-chart {
  width: 120px;
  height: 37px;
}

/*Portfolio Page*/

.popup-container {
  display: flex;
  padding: 50px 0px;
}

.popup-space-around {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.popup-h3 {
  font-size: 20px;
}

.popup-add-asset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 45px;
  background: rgba(120, 120, 250, 1);
  border-radius: 6px;
  cursor: pointer;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  width: 886px;
  height: 393px;
  padding: 48px;
  left: 270px;
  border-radius: 20px;
  top: 300px;
}

.popup-items-height-width {
  height: 100%;
  width: 100%;
}

.popup-content {
  display: flex;
  justify-content: space-between;
}


.popup-select-coin {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

.instructions-container {
  display: flex;
  width: 805px;
}

.instructions-gap {
  gap: 10px;
}

.instructions-image {
  width: 65px;
}

.instructions-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 241px;
  width: 297px;
}

.user-input-spacing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 265px;
}

.input-coin-name {
  width: 461px;
  height: 44px;
  padding: 8px;
}

.filterList {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(25, 25, 37, 1);
}

.filter-list {
  width: 300px;
}

.filter-list-image {
  height: 50px;
  width: 50px;
}

.filter-list-width {
  width: 460px;
}

.input-coin-amount {
  width: 461px;
  height: 44px;
  padding: 8px;
}

.input-coin-date {
  width: 461px;
  height: 44px;
  padding: 8px;
}

.save-cancel-spacing {
  display: flex;
  justify-content: space-between;
}

.save-button-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222.5px;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-button-styling {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
  border-radius: 6px;
}

.portfolio-coin-containers {
  display: flex;
  justify-content: center;
}

.portfolio-coin-list {
  display: flex;
  width: 1260px;
  height: 300px;
  margin-bottom: 40px;
}

.portfolio-coin-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.coin-image-spacing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-image-styling {
  width: 64px;
  height: 64px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(44, 44, 74, 1);
  border-radius: 8px;
  margin-bottom: 25px;
}

.coin-font-size {
  font-size: 28px;
}

.coin-market-headers {
  padding-top: 20px;
  padding-left: 25px;
  width: 100%;
}

.coin-market {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-price {
  display: flex;
  justify-content: center;
}

.portfolio-coin-data-color {
  color: rgba(1, 241, 227, 1);
}

.price-change-spacing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.padding-right-market-cap {
  padding-right: 25px;
}

.progress-bar {
  height: 10px;
  position: relative;
  width: 120px;
  border-radius: 10px;
  margin: auto 0;
  overflow: hidden;
  border: none;
  margin-right: auto;
}

.center {
  display: flex;
  justify-content: center;
}

.white-line {
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 810px;
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.your-coin-container {
  padding-top: 10px;
  padding-left: 25px;
  width: 100%;
}

.your-coin-title {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 15px;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price-change-since-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Coin page styles*/

.coin-page {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}

.coin-image-name-container {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  height: 305px;
  width: 333px;
  margin-bottom: 20px;
  align-items: center;
}

.coin-image-margin {
  margin-bottom: 38px;
}

.coin-image-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 25px;
  gap: 10px;
}

.coin-name {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.first-coin-link-container {
  cursor: pointer;
  border-radius: 12px;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-profit {
  border-radius: 12px;
  padding-top: 36px;
}

.coin-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 0px;
}

.coin-price-info {
  display: flex;
  flex-direction: column;
}

.coin-font-weight {
  font-weight: 700;
}

.coin-price-date {
  color: rgba(185, 185, 186, 1);
  font-size: 14px;
}

.coin-market-info-container {
  border-radius: 12px;
  padding: 20px;
}

.coin-market-data {
  font-weight: 500px;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.coin-description {
  display: flex;
  padding: 12px;
}

.padding-top {
  padding-top: 85px;
}

.gap-for-coin-links-container {
  gap: 22px;
}

.coin-links-container {
  display: flex;
  border-radius: 12px;
  margin-bottom: 40px;
  padding-top: 25px;
}

.coin-links-container-last {
  display: flex;
  border-radius: 12px;
  padding-top: 25px;
}

@layer base {
  :root {
    --background: 220, 33%, 96%;
    --foreground: 0 0% 3.9%;
    --coin-title-color: 0 0% 3.9%;
    --homeIcon: 240 36% 32%;
    --coin-list: 220 33% 96%;
    --compare-button: 0 0% 100%;
    --compare-mode: 240 100% 100%;
    --compare-icon: 240 36% 32%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --magnifier-icon: 240, 34%, 39%, 0.8;
    --input-placeholder: 240, 34%, 39%, 0.8;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 98%;
    --search-bar: 240, 82%, 89%, 0.4;
    --currency-container: 240, 82%, 89%, 0.4;
    --currencyIcon-container: 240 34% 39%;
    --currency-color: 240, 34%, 39%, 0.8;
    --theme-container: 240, 82%, 89%, 0.4;
    --currency-icon: 240 82% 89%;
    --theme-button: 240 34% 39%;
    --primarycard: 0 0% 100%;
    --primarycardforeground: 0% 0 0;
    --copybutton: 0, 0%, 0%;
    --borderTop: 0, 0%, 96%;
    --navbar: 240, 36%, 32%;
    --navbarColor: 0 0% 98%;
    --progressbar: 0, 0%, 100%;
    --progressbar-foreground: 0, 0%, 50%;
    --copy-button-foreground: 0 0% 100%;
    --carouselBackground: 223.81 -173% 100%;
    --leftChart: 223.81 -173% 100%;
    --bar-chart: 223.81 -173% 100%;
    --coinPageImageBackground: 230, 70%, 74%;
    --titleCardPortfolio: 223.81 -173% 100%;
    --infoCardPortfolio: 223.81 -173% 100%;
    --popup: 0, 0%, 100%;
    --popup-container: 0, 0%, 100%;
    --cancel-coin: 235, 65%, 67%;
    --save-coin: 235, 65%, 67%;
    --popup-foreground: 0 0% 3.9%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 240, 93%, 73%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 248, 18%, 9%;
    --foreground: 0 0% 98%;
    --coin-title-color: 0 0% 82%;
    --homeIcon: 0 0% 100%;
    --coin-list: 240 19% 12%;
    --compare-button: 240 36% 32%;
    --compare-mode: 240 21% 17%;
    --compare-icon: 0 0% 100%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --magnifier-icon: 240 6% 83%;
    --input-placeholder: 0 0% 82%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 252 33% 15%;
    --primary-foreground: 0 0% 9%;
    --search-bar: 240, 21%, 12%, 1;
    --currency-container: 240, 21%, 12%, 1;
    --currency-color: 220, 33%, 96%;
    --theme-container: 240, 21%, 12%, 1;
    --currencyIcon-container: 220 33% 96%;
    --currency-icon: 240, 21%, 12%, 1;
    --theme-button: 240 34% 39%;
    --primarycard: 252 33% 15%;
    --primarycardforeground: 0.00 0.00 1.00;
    --copybutton: 0 0% 100%;
    --borderTop: 248, 18%, 9%;
    --navbar: 252, 33%, 15%;
    --navbarColor: 0 0% 98%;
    --progressbar: 0, 0%, 100%;
    --progressbar-foreground: 0, 0%, 50%;
    --copy-button-foreground: 0, 0%, 0%;
    --carouselBackground: 240.01 19% 12%;
    --leftChart: 240, 33%, 15%;
    --bar-chart: 252, 33%, 15%;
    --titleCardPortfolio: 252, 33%, 15%;
    --infoCardPortfolio: 240, 33%, 15%;
    --coinPageImageBackground: 240, 25%, 23%;
    --popup: 248, 18%, 9%;
    --popup-container: 240, 33%, 15%;
    --save-coin: 240, 59%, 61%, 0.5;
    --cancel-coin: 240, 21%, 17%, 1;
    --popup-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 240, 93%, 73%;
    --chart-2: 240, 93%, 73%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.plusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #6161D680;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 7px rgba(120, 120, 250, 0.15);
  backdrop-filter: blur(4px);
}

.gapPlusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.hide-add-button-mobile {
  display: none;
}

.hide-input-field-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {

.coinLandingPageContainer {
    padding: 0px 10px;
  }

    .user-navbar-padding {
      padding: 0px 0px;
    }

        .topDisplayBar {
          padding: 16px 0px 16px 35px;
          height: 56px;
        }

        .navbar-container {
          color: hsl(var(--navbarColor));
          display: flex;
          justify-content: center;
          gap: 20px;
        
        }

               

/*Navbar with info display*/
.firstProgressBar {
    display: flex;
    align-items: center;
    /*width: 70px;*/
  }

/**/



  /*carousel*/
 .carousel {
   width: 100%;
   padding: 10px 0px 0px 0px;
 }

.carousel-title-container {
    padding-left: 10px;
    margin-top: 2px;
  }

.compare-button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
  height: 40px;
  width: 130px;
}



    .compare-button-container {
      padding-bottom: 10px;
      padding-right: 22px;
    }

.mobile-width-height {
    width: 100px;
    height: 60px;
  }

.overflow-hidden {
  overflow: hidden;
    /*width: 318px; */
  }
  /**/

/*navbar-with-user-interface*/



.searchButtonLandingPage {
    height: 48px;
    width: 40px;
    border: none;
    border-radius: 12px;
  }

  /*Conditions for search input*/
    .myElement {
      position: absolute;
      right: 5px;
    }
    .myElement.hide {
      bottom: -1000px;
      z-index: 99;
    }  
    .myElement.show {
      bottom: -130px;
      z-index: 104;
    }
  /**/
  .left-3 {
    left: 1rem;
  }

  .height {
    height: 850px;
  }

  .svg-search-left {
    left: 2.5rem;
  }
  
.hide-input-field-mobile {
    display: block;
  }
.user-filtered-list {
  display: none;
}


.selectCurrencyLandingPage {
    width: 20px;
    height: 48px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
  }


/**/

.chart-mobile-margin {
  margin: 35px 0;
}

.carousel-chart-size {
  width: 475px;
  height: 360px;
}

.carousel-button-container {
  position: absolute;
  bottom: 315px;
  left: 415px;
  width: 0;
  z-index: 204;
}

.carousel-prev-button-container {
  position: relative;
  left: 27px;
}
.carousel-next-button-container {
  margin-right: 40px;
}


.chart-container {
    display: flex;
    justify-content: center;
    gap: 32px;
   padding: 20px 40px;
  }



  /*table*/
.flex-column {
  display: flex;
  flex-direction: column;
}
  /**/
.table-padding {
  padding: 0px 0px;
}


.table-image-container {
  padding-left: 20px;
  width: 100px;
}

.percentages-padding {
  padding: 0px 0px;
  font-size: 14px;
}
    .column {
      flex-direction: column;
    }

table {
  width: 900px;
}

.chart-size {
  width: 475px;
    height: 360px;
    border-radius: 12px;
    padding-bottom: 20px;
        }
 .hide {
  display: none;
 }
 .chart-header {
  display: flex;
  flex-direction: column;
 }
 .coin-title {
  font-size: 16px;
 }
 .coin-price {
  font-size: 20px;
  display: flex;
  justify-content: center;
 }
 .coin-date {
  font-size: 12px;
 }

 /*coin page*/
 .coin-page {
  flex-direction: column;
  gap: 7px;
 }
 .coin-image-name-container {
  width: 440px;
  margin-bottom: 0px;
 }
 .coin-description {
  justify-content: center;
  margin-bottom: 62px;
 }
 .padding-top {
  padding-top: 0px;
 }
 .coin-links-container {
  width: 445px;
  justify-content: center;
  margin-bottom: 5px;
 }

 .coin-links-container-last {
  justify-content: center;
 }

 /*Portfolio*/

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}
.portfolio-coin-list {
  display: block;
  width: 560px;
    height: 500px;
    margin-bottom: 40px;
}

.portfolio-coin-info {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 557px;
    height: 300px;
}

.button-Position-At-Bottom {
  position: absolute;
  top: 830px;
  left: 0;
}

/*Mobile menu*/

 .container-button {
   display: flex;
   width: 100%;
   justify-content: flex-end;
 }

 .container-mobile-menu {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 520px;
   /*position: absolute;*/
   /*z-index: 101;*/
 }

 .searchButtonMobile {
   height: 48px;
   width: 460px;
   border: none;
   border-radius: 12px;
 }


 .svg-left {
  left: 2.2rem;
 }

 .coin-list-mobile {
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .width-container-search {
   width: 510px;
   display: flex;
   justify-content: center;
 }

 .text-align {
   text-align: center;
 }

 .font-size-title {
   font-size: 28px;
   padding: 20px 0px;
 }

 .font-size-coin-search {
   font-size: 20px;
 }

 .border-bottom {
   margin: 10px 0px;
   border-bottom: 1px solid white;
   width: 500px;
 }

 .image-size-mobile {
   height: 20px;
   width: 20px;
   margin-left: 20px;
 }

 .gap-image {
   gap: 5px
 }

 /*Mobile menu portfolio condition*/
.positionedBox {
  position: absolute;
  top: 130px;
  left: 20px;
}

.positionedBox--hidden {
  bottom: -130px;
  z-index: 99;
}

.positionedBox--visible {
  bottom: 0px;
  z-index: 104;
}
 /**/


.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  padding: 48px;
  left: 0px;
  height: 100%;
  width: 500px;
  border-radius: 20px;
  top: 300px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
}

.save-cancel-spacing {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.cancel-button-styling {
  display: flex;
  align-items: center;
  width: 461px;
  justify-content: center;
  border-radius: 6px;
  height: 45px;
}

.save-button-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 461px;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
}

}


 