@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.topDisplayBar {
  padding: 16px 72px 16px 72px;
  height: 56px;
} 

.firstProgressBar {
  display: flex;
  align-items: center;
  width: 90px;
}

.bitcoin {
  background-color: #F7931A;
  display: flex;
  align-items: center;
  width: 90px;
}

.eth {
  background-color: #849DFF;
  display: flex;
  align-items: center;
  width: 90px;
}
  
.navbarCoinGap {
  display: flex;
  align-items: center;
  gap: 10px;
}


.lightningBoltContainer {
  width: 16px;
    height: 16px;
    border: solid;
    border-radius: 20px;
    background: white;
}

.searchButtonLandingPage {
  height: 38px;
  width: 356px;
}

.coinLandingPageContainer {
  padding: 0px 80px
}
.coinsButton {
  padding: 60px 80px
}
.coinLandingPage {
  display: flex;
  background-color: rgba(120, 120, 250, 1);
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 45px;
  border-radius: 6px;
  margin: 30px 0px 80px 0px;
}



@layer base {
  :root {
    --background: 220, 33%, 96%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 98%;
    --primarycard: 0 0% 100%;
    --primarycardforeground: 0% 0 0;
    --copybutton: 0, 0%, 0%;
    --borderTop: 0, 0%, 96%;
    --navbar:  240, 36%, 32%;
    --navbarColor: 0 0% 98%; 
    --progressbar: 0, 0%, 100%;
    --progressbar-foreground: 0, 0%, 50%;
    --copy-button-foreground: 0 0% 100%;
    --carouselBackground: 223.81 -173% 100%;
    --leftChart: 223.81 -173% 100%;
    --bar-chart: 223.81 -173% 100%;
    --titleCardPortfolio: 223.81 -173% 100%;
    --infoCardPortfolio: 223.81 -173% 100%;
    --popup: 0, 0%, 100%;
    --popup-foreground: 0 0% 3.9%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 240, 93%, 73%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background:  248, 18%, 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 252 33% 15%;
    --primary-foreground: 0 0% 9%;
    --primarycard: 252 33% 15%; 
    --primarycardforeground: 0.00	0.00	1.00;
    --copybutton: 0 0% 100%;
    --borderTop: 248, 18%, 9%;
    --navbar:  252, 33%, 15%;
    --navbarColor: 0 0% 98%;
    --progressbar: 0, 0%, 100%;
    --progressbar-foreground: 0, 0%, 50%;
    --copy-button-foreground: 0, 0%, 0%;
    --carouselBackground: 240.01 19% 12%;
    --leftChart: 240, 33%, 15%;
    --bar-chart: 252, 33%, 15%;
    --titleCardPortfolio: 252, 33%, 15%;
    --infoCardPortfolio: 240, 33%, 15%;
    --popup: 248, 18%, 9%;
    --popup-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 240, 93%, 73%;
    --chart-2: 240, 93%, 73%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.plusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #6161D680;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 7px rgba(120, 120, 250, 0.15);
  backdrop-filter: blur(4px);
}

.gapPlusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
           
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

